#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Center the content */
.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

button {
    width: 200px; /* Fixed width for buttons */
    height: 50px; /* Fixed height for buttons */
}